*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.cantidadProductos{
    width: 70px;
}

.container_tajetas{
    background-image: url(../img/fondo.webp);
    height: 100vh;
}

#btn-continuar{
    width: 150px;
    height: 50px;
    margin-top: 1em;
}